{% extends 'base.html.twig' %}

{% block body %}

    {% if not app.user %}
        <div class="alert alert-warning" role="alert">
            Veuillez vous connecter pour accéder à cette page !
        </div>
    {% else %}



        <div class="container">
            <div class="back_my_detail p-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33" height="33"
                                 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256.5738" y1="513.7383" x2="256.5738" y2="0.7753" gradientTransform="matrix(0.9981 0 0 -0.9981 -0.0921 512.7728)">
                                    <stop  offset="0" style="stop-color:#2AF598"/>
                                    <stop  offset="1" style="stop-color:#009EFD"/>
                                </linearGradient>
                                <path style="fill:url(#SVGID_1_);" d="M284.937,117.778c32.472,0,58.889-26.417,58.889-58.889S317.408,0,284.937,0
                                      s-58.889,26.417-58.889,58.889S252.466,117.778,284.937,117.778z M284.937,39.925c10.457,0,18.964,8.507,18.964,18.964
                                      s-8.507,18.964-18.964,18.964s-18.964-8.507-18.964-18.964S274.48,39.925,284.937,39.925z M331.891,423.403l-31.529,15.62
                                      l34.266-231.563c0.144-0.967,0.215-1.944,0.215-2.922c0-17.753-8.681-34.341-23.22-44.376c-14.375-9.92-32.692-12.149-49.001-5.963
                                      c-0.594,0.226-1.178,0.479-1.748,0.761l-98.49,48.566l17.657,35.808l31.573-15.569l-34.26,231.451
                                      c-0.143,0.967-0.215,1.944-0.215,2.923c0,17.696,8.714,34.272,23.309,44.346c9.105,6.283,19.754,9.516,30.47,9.516
                                      c6.351,0,12.727-1.137,18.817-3.447c0.606-0.23,1.2-0.489,1.781-0.777l98.099-48.598L331.891,423.403z M234.853,471.476
                                      c-5.566,1.774-10.021-0.675-11.726-1.851c-1.712-1.182-5.558-4.465-6.017-10.323l38.041-257.007l22.344-11.018
                                      c5.273-1.697,9.407,0.333,11.449,1.743c1.688,1.165,5.479,4.418,5.929,10.346l-38.064,257.233L234.853,471.476z"/>
                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                            </svg>
                            Mes informations</h2>
                        <p class="font-weight-bold">
                            <svg  viewBox="0 -1 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
                                <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256.0002597504" x2="256.0002597504" y1=".0001997504" y2="510.7493837504">
                                    <stop offset="0" stop-color="#2af598"/><stop offset="1" stop-color="#009efd"/></linearGradient>
                                <path d="m204.5 458.605469v51.855469l-12.539062-10.128907c-1.9375-1.566406-48.035157-38.992187-94.78125-92.660156-64.484376-74.035156-97.179688-140.492187-97.179688-197.519531v-5.652344c0-112.761719 91.738281-204.5 204.5-204.5s204.5 91.738281 204.5 204.5v5.652344c0 4.789062-.253906 9.652344-.714844 14.574218l-39.992187-36.484374c-8.191407-83.15625-78.519531-148.339844-163.792969-148.339844-90.757812 0-164.597656 73.839844-164.597656 164.597656v5.652344c0 96.367187 124.164062 213.027344 164.597656 248.453125zm122.699219-28.660157h59.851562v-59.851562h-59.851562zm-122.699219-310.238281c46.753906 0 84.792969 38.039063 84.792969 84.792969s-38.039063 84.792969-84.792969 84.792969-84.792969-38.039063-84.792969-84.792969 38.039063-84.792969 84.792969-84.792969zm0 39.902344c-24.753906 0-44.890625 20.136719-44.890625 44.890625 0 24.75 20.136719 44.890625 44.890625 44.890625 24.75 0 44.890625-20.140625 44.890625-44.890625 0-24.753906-20.140625-44.890625-44.890625-44.890625zm280.609375 243.222656-11.21875-10.234375v64.058594c0 29.828125-24.269531 54.09375-54.097656 54.09375h-126.332031c-29.828126 0-54.097657-24.265625-54.097657-54.09375v-64.058594l-11.21875 10.234375-26.890625-29.476562 155.371094-141.746094 155.375 141.746094zm-51.121094-46.636719-77.363281-70.574218-77.359375 70.574218v100.457032c0 7.828125 6.367187 14.195312 14.195313 14.195312h126.332031c7.828125 0 14.195312-6.367187 14.195312-14.195312zm0 0" fill="url(#a)"/></svg>
                            Adresse</p>
                        <p>{{ app.user.addressFact }}</p>
                        <p class="font-weight-bold">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20" height="20"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256.2437" y1="513.822" x2="256.2437" y2="1.547" gradientTransform="matrix(0.9992 0 0 -0.9992 -0.0391 513.4789)">
                                    <stop  offset="0" style="stop-color:#2AF598"/>
                                    <stop  offset="1" style="stop-color:#009EFD"/>
                                </linearGradient>
                                <path style="fill:url(#SVGID_1_);" d="M385.22,511.933c-12.434,0-24.949-2.751-36.609-8.414
                                      c-49.209-23.902-123.478-68.002-197.837-142.36C76.414,286.798,32.314,212.53,8.414,163.321
                                      c-15.662-32.248-9.054-71.047,16.445-96.546L92.011,0.067l136.304,137.121l-53.979,54.676c9.194,16.219,29.054,47.218,62.524,80.688
                                      c33.464,33.465,64.239,53.102,80.305,62.151l55.77-54.001L512,419.999l-66.843,67.074
                                      C428.878,503.353,407.176,511.933,385.22,511.933z M431.028,472.942h0.01H431.028z M91.833,56.581L53.074,95.083
                                      c-13.415,13.415-16.933,33.84-8.708,50.775c22.561,46.451,64.238,116.606,134.671,187.039
                                      c70.43,70.431,140.586,112.108,187.039,134.67c16.926,8.221,37.341,4.709,50.805-8.739l38.669-38.804l-83.09-83.227l-47.467,45.962
                                      l-12.295-5.404c-2.008-0.882-49.799-22.238-104.101-76.54c-54.267-54.266-76.075-102.463-76.978-104.489l-5.55-12.462l45.984-46.579
                                      L91.833,56.581z"/>
                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                            </svg>
                            Numéro de téléphone</p>
                        <p>{{ app.user.phoneNumber }}</p>
                        <p class="font-weight-bold">
                            <svg viewBox="0 0 512 512.001" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20">
                                <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256.000679" x2="256.000679" y1="0" y2="512">
                                    <stop offset="0" stop-color="#2af598"/>
                                    <stop offset="1" stop-color="#009efd"/></linearGradient>
                                <path d="m491.382812 157.050781c-13.207031-30.953125-32.058593-58.722656-56.027343-82.535156-48.414063-48.09375-112.050781-74.515625-179.378907-74.515625-.558593 0-1.128906.00390625-1.6875.00390625-68.503906.44921875-132.703124 27.60156275-180.773437 76.45312475-48.058594 48.84375-74.160156 113.496094-73.5039062 182.054688.6562502 68.128906 27.5507812 131.914062 75.7343752 179.597656 48.152344 47.65625 112.15625 73.894531 180.253906 73.890625h.121094c49.886718-.019531 98.238281-14.410156 139.824218-41.605469l-21.890624-33.476562c-35.066407 22.933593-75.855469 35.0625-117.953126 35.082031-.035156 0-.0625 0-.097656 0-117.972656 0-214.859375-95.925781-215.992187-213.875-.558594-57.851562 21.46875-112.402344 62.015625-153.613281 40.558594-41.21875 94.726562-64.128907 152.523437-64.507813.472657-.003906.941407-.003906 1.417969-.003906 56.6875 0 110.335938 22.304688 151.191406 62.894531 41.816406 41.539063 64.839844 96.605469 64.839844 155.058594v7.546875c0 34.464844-28.039062 62.5-62.5 62.5s-62.5-28.035156-62.5-62.5v-126.5h-40v20.203125c-14.308594-9.597656-31.511719-15.203125-50-15.203125-49.625 0-90 40.375-90 90v44c0 49.625 40.375 90 90 90 30.121094 0 56.828125-14.875 73.175781-37.660156 18.8125 22.972656 47.382813 37.660156 79.324219 37.660156 56.519531 0 102.5-45.980469 102.5-102.5v-7.546875c0-34.894531-6.9375-68.84375-20.617188-100.902344zm-184.382812 120.949219c0 27.570312-22.429688 50-50 50s-50-22.429688-50-50v-44c0-27.570312 22.429688-50 50-50s50 22.429688 50 50zm0 0" fill="url(#a)"/></svg>
                            </svg>
                            Adresse email</p>
                        <p class="mb-5">{{ app.user.mail }}</p>

                    </div>

                    <div class="col-lg-6">
                        <p class="mb-5 text-center">
                            <a class="link_show_product" href="{{ path('users_orders', {'id': app.user.id}) }}">
                                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="33">
                                    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="0" y2="512">
                                        <stop offset="0" stop-color="#2af598"/>
                                        <stop offset="1" stop-color="#009efd"/></linearGradient>
                                    <path d="m156.507812 359.75 355.492188-31.441406v-219.308594h-391.453125l-23.382813-109h-97.164062v40h64.835938l61.988281 288.972656c-15.609375 10.1875-25.757813 27.746094-25.824219 47.667969-.050781 15.304687 5.871094 29.707031 16.675781 40.546875 10.804688 10.839844 25.183594 16.8125 40.488281 16.8125h13.992188c-2.035156 5.96875-3.15625 12.351562-3.15625 19 0 32.53125 26.46875 59 59 59s59-26.46875 59-59c0-6.648438-1.121094-13.03125-3.15625-19h84.3125c-2.035156 5.96875-3.15625 12.351562-3.15625 19 0 32.53125 26.46875 59 59 59s59-26.46875 59-59-26.46875-59-59-59h-265.835938c-4.59375 0-8.910156-1.792969-12.15625-5.046875-3.246093-3.257813-5.023437-7.582031-5.007812-12.175781.03125-8.863282 6.691406-16.171875 15.507812-17.027344zm90.492188 93.25c0 10.476562-8.523438 19-19 19s-19-8.523438-19-19 8.523438-19 19-19 19 8.523438 19 19zm196 0c0 10.476562-8.523438 19-19 19s-19-8.523438-19-19 8.523438-19 19-19 19 8.523438 19 19zm-95-208v57.65625l-80 7.078125v-64.734375zm-80-40v-56h80v56zm-40 108.269531-62.449219 5.523438-15.832031-73.792969h78.28125zm160-14.148437v-54.121094h84v46.691406zm84-94.121094h-84v-56h84zm-244-56v56h-86.859375l-12.015625-56zm0 0" fill="url(#a)"/></svg>
                                Consulter mes commandes</a>
                        </p>
                        <div class="row justify-content-center">
                            <a href="{{ path('users_edit', {'id': app.user.id}) }}" class="btn-profil">Modifier le profil</a>
                        </div> 
                        <div class="row justify-content-center">
                            <a href="{{ path('security_logout')}}" class="btn-disc">Déconnexion</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}